/*Cambio de medidas de px a rem*/
html {
    font-size: 62.5%;
}

header {
    
    background: #cccccc;
    padding: 2rem 0;

}

/*Header*/
.logo {

    padding-left: 6rem;
}

.container {

    width: 94rem;
    position: relative;
    margin: 0 auto;

}

/*
        - Posicion: absoluta nos permite mover el contenido
        - Top,Right: nos permite mover arriba y derecha
    */
.navegator {
    
    font-size: 1.5rem;
    position: absolute;
    top: 11rem;
    right: 1rem;
    
}

    /*
        - Margen: arriba derecha abajo izquierda
    */
.navegator li {
 
    display: inline;
    margin: 0 0 0 1.5rem;

}

/* - Mayuscula
       - color de la letra
       - Negrilla
       - tamaño de fuente
       - Quitar  el subrayado
    */
.navegator a {

    /* - Mayuscula
       - color de la letra
       - Negrilla
       - tamaño de fuente
       - Quitar  el subrayado
    */
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 2.2rem;
    text-decoration: none;

}

/*Main*/
/*Cambiar la propiedad inline por block*/
main {
    width: 94rem;
    margin: 0 auto;
}


/*Estilos de Css*/

form{
    margin: 4rem 0;
}

form label, form legend {

    display: block;
    font-size: 2rem;
    margin: 0 0 1rem;

}

form .input-padre,form textarea {

    display: block;
    margin:  0 0 2rem;
    padding: 1rem 2.5rem;
    width: 50%;

}

.checkbox {

    margin: 2rem 0;
    
}

.enviar {

    width: 40%;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 0.5rem;
    transition: 1s all;
    cursor: pointer;

}

table {

    margin: 4rem 4rem;

}

table thead {

    background: #555555;
    color: #ffffff;
    font-weight: bold;

}

table td,th {

    border: 0.1rem solid #000000;
    padding: 0.8rem 1.5rem;

}


/*Capturar eventos: Css*/
/*nav*/
.navegator a:hover{

    color: #c78c19;
    text-decoration: underline;

}

/*button form*/
.enviar:hover {

    background: darkorange;
    transform: scale(1.2);
}


/*Footer*/

.footer {

    text-align: center;
    background-image: url(../assets/bg.jpg);
    padding: 4rem;
}

.copyright {

    color: #ffffff;
    font-size: 1.3rem;
    margin: 2rem;
}

