/*Cambio de medidas de px a rem- Proyecto*/
html {

    font-size: 62.5%;
}

header {
    
    background: #cccccc;

}

/*Header General*/

.title {
    
    font-size: 2.5rem;
    padding-left: 2rem;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    background-image: url(../assets/bg.jpg);
    color: #ffffff;

}

.logo {

    padding-left: 6rem;
}

.container {

    width: 94rem;
    position: relative;
    margin: 0 auto;

}

/*
        - Posicion: absoluta nos permite mover el contenido
        - Top,Right: nos permite mover arriba y derecha
    */
.navegator {
    
    font-size: 1.5rem;
    position: absolute;
    top: 11rem;
    right: 1rem;
    
}

    /*
        - Margen: arriba derecha abajo izquierda
    */
.navegator li {
 
    display: inline;
    margin: 0 0 0 1.5rem;

}

/* - Mayuscula
       - color de la letra
       - Negrilla
       - tamaño de fuente
       - Quitar  el subrayado
    */
.navegator a {

    /* - Mayuscula
       - color de la letra
       - Negrilla
       - tamaño de fuente
       - Quitar  el subrayado
    */
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 2.2rem;
    text-decoration: none;

}
/*************************************************************************/
/*Main productos*/

/* - Utilizar siempre este width para pensar en las pantallas de 1880
   - Margin:Que todo el contenido se posiciones en inline-block, y el resto del espacio
    del contenido, se distribuya a los lados*/
.products {
    width: 94rem;
    margin: 0 auto;
    padding: 5rem;
}

/* - Poner la lista en horizontal
   - ALinear texto
   - cada elemento ocupa el 30% 3 = 90% de la pantalla y distribuya el 10% entre los   elementos*/
.products li {

    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% ;
    padding: 3rem 2rem;
    box-sizing: border-box;
    border: 0.2rem solid #000000;
    border-radius: 1rem;
    
}

/* 
    - font-weight: negrilla
*/
.products h2 {

    font-size: 3rem;
    font-weight: bold; 
}

.description-product {

    font-size: 1.8rem;

}

.price-product {
 
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;

}

/**************************************************************/
/*Main Contacto*/

form{
    margin: 4rem 0;
    padding: 5rem 5rem;
}

form label, form legend {

    display: block;
    font-size: 2rem;
    margin: 0 0 1rem;

}

form .input-padre,form textarea {

    display: block;
    margin:  0 0 2rem;
    padding: 1rem 2.5rem;
    width: 50%;

}

.checkbox {

    margin: 2rem 0;
    
}

.enviar {

    width: 40%;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 0.5rem;
    transition: 1s all;
    cursor: pointer;

}

table {

    margin: 4rem 6rem;
    font-size: 4rem;

}

table thead {

    background: #555555;
    color: #ffffff;
    font-weight: bold;

}

table td,th {

    border: 0.1rem solid #000000;
    padding: 0.8rem 1.5rem;

}

/*Main-home*/

.banner {
    width: 100%;
    height: 50rem;
}

.principal-title {

    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    margin: 0 0 1rem;

}

.main p {

    text-align: center;
    font-size: 2rem;
    margin: 0 0 0 1rem;

}

.main strong {

    font-weight: bold;
}

.main {

    font-style: italic;

}

.img-dife {

    width: 60%;

}

/*Capturar eventos: Css*/

.navegator a:hover{

    color: #c78c19;
    text-decoration: underline;

}

.products li:hover {

    border-color: #c78c19;

}

.products li:active {

    border-color: #088c19;

}

.products li:hover h2 {

    font-size: 3.3rem;

}

/*button form*/
.enviar:hover {

    background: darkorange;
    transform: scale(1.2);
}

/*Footer general*/

.footer {

    text-align: center;
    background-image: url(../assets/bg.jpg);
    padding: 4rem;
}

.copyright {

    color: #ffffff;
    font-size: 1.3rem;
    margin: 2rem;
}

